<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%20.20thread] [%-32.32X{traceId}] [%-16.16X{spanId}] [%-5level] %logger{36} - %msg%n"/>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="com.xooxz" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="reactor.netty" level="INFO"/>
        <logger name="io.lettuce" level="INFO"/>
        <logger name="org.apache.kafka" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>